# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs
logs/
*.log

# Ignore virtual environment
venv/
.VENV/

# Ignore build artifacts
/build/

# Ignore YOLOv5 directory (if managed separately)
yolov5/

# Ignore training outputs and temporary files
runs/

# Ignore dataset files
data/yolo_data/images/
data/yolo_data/labels/
data/yolo_data/test/
data/yolo_data/train/
data/yolo_data/val/

# Ensure all files inside train, val, test are ignored
data/yolo_data/test/**
data/yolo_data/train/**
data/yolo_data/val/**