runs/
/build/
__pycache__/
/logs/
/*.log# Logs
*.log

# Virtual environment
venv/
__pycache__/

# Data
data/yolo_data/images/
data/yolodata/labels/
data/yolo_data/test/
data/yolo_data/train/
data/yolo_data/val/
runs/

/venv/
/*.pyc
yolov5/
